*{
   margin: 0;
   padding: 0;
  
}
.banner{
  width: 100%;
  height: 109vh;
  background-image:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%) ,url(2..jpg);
  background-size: cover;
  background-position: center;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;   
}
ul li a:hover{
    color: #ff7200;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family:'Times New Roman' ;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right:none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px ;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.btn:focus{
    outline: none;
}
.src:focus{
    outline: none;
}
.content{
    width: 1200px;
    height:auto;
    margin: auto; 
    color: #fff;
    position: relative;
}
.content .par{
    padding-left:20px ;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 50px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px ;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.cn:hover{
    background-color: #fff;
}
.content .dn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px ;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content .dn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.dn:hover{
    background-color: #fff;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top:10px ;
}
a{
    text-decoration: none;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.cont{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow:0 14px 28px rgba(201, 194, 194, 0.25) 0 10px 10px rgba(230, 208, 208, 0.22);
    transition: .4s;
    background: #fff;
}
.cont:hover{
   box-shadow: 0 3px 6px rgba(102, 44, 44, 0.25),0 3px 6px rgba(102, 44, 44, 0.23);
   transform: translate(0px,-8px);
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 0;
}
li{
    padding-top: 5px;
    
}
.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
.checked{
    color: #ff9f43;
}
.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}
button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding:15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.buy-1{
    background: #2183a2;
}
.buy-2{
    background: #2183a2;
}
.buy-3{
    background: #2183a2;
}
.buy-4{
    background: #2183a2;
}
.heor{
    overflow: hidden;
}

.heading h1{
    color: #f8f8f8;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}
.lalagyan{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;   
}
.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #6b5b5b;
}
.hero-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #f1e0e0;
}
.hero-content button{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: .03s ease;
}
.hero-content button:hover{
    background-color: #2183a2;
    transform: scale(1.1);
}
.hero{
    flex: 1;
    width: 600px;
    margin: auto;
}
img{
    width: 50%;
    height: auto;
    border-radius: 10px;
}
.contact{
    min-height: 100vh;
    padding: 50px;
    text-align: center;
}
.nilagyan{
    max-width: 800px;
    margin:0 auto;
}
.nilagyan h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #c76161;    
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
}
.contact-form{
    text-align: left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #c76161;
}
.form-group{
    margin-bottom: 20px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    background-color: #c76161;
}
.contact-info{
    text-align: left;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #c76161;
}
.contact-info p{
    margin-bottom: 10px;
    color: #e7d6d6;
}
.contact-info i{
    color:#4caf50;
    margin-right: 10px;
}
